---
interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props
import { HeadHrefLangs } from 'astro-i18next/components'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/webp' href='/img/amof_favicon.webp' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <HeadHrefLangs />

    <!-- Google Tag Manager -->
    <script is:inline>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-59C56KZR')
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src='https://www.googletagmanager.com/ns.html?id=GTM-59C56KZR'
        height='0'
        width='0'
        style='display:none;visibility:hidden'></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <slot />
  </body>
</html>
